// Example Stylus file

@import 'helpers'
@import 'demo'

// Main
// SugarCRM colors:
// Red: B61324
// Grey: 4E5153
// DarkBlue: 133595
// LightBlue: 88B7E8

body, html
  height 100%

#container
  font normal 3em sans-serif
  height 1080px
  width 1920px
  vertical-gradient #eee, #fff
  //vertical-gradient #000, #111

p
  margin-bottom 1em

a
  color #000a68

h1
  font-size 1.5em
  font-weight normal
  margin 1.5em
  color #333
  text-shadow 1px 1px 2px white

.panel
    width 95%
    display none
    margin-left auto
    margin-right auto

.widget
    display none
    border 1px #B61324 solid
    .full
        width 95%
        clear both

    .wide
        width 60%
        float left

    .narrow
        width 30%
        float right
