// Example Stylus file

@import 'helpers'
@import 'demo'

// Main
// SugarCRM colors:
// Red: B61324
// Grey: 4E5153
// DarkBlue: 133595
// LightBlue: 88B7E8

body, html
  height 100%

body
  height 1080px
  width 1920px
  overflow hidden
  background-image url('/images/metal-tile.png')
  color #BBB

#container
  font normal 3em Helvetica
  //vertical-gradient #eee, #fff
  //vertical-gradient #000, #111

p
  margin-bottom 1em

a
  color #000a68

h1
  font-size 1.5em
  font-weight normal
  margin 1.5em
  color #333

.panel
    width 95%
    display none
    margin-left auto
    margin-right auto

.widget
    border 1px #B61324 solid
    &.half
        width 47%
    &.full
        width 94%
        clear both

    &.wide
        width 60%
        float left

    &.narrow
        width 30%
        float right

.panel_title
    margin-top 10px
    margin-bottom 10px
    text-align center
    padding 10px
    round 5px
    border 1px #4E5153 solid
    text-shadow 1px 1px 2px black

.new_hire
    margin-bottom 10px
    .new_hire_name
        font-size 75%
        text-align center
    .new_hire_dept
        font-size 50%
    .new_hire_date
        font-size 50%
        &:before
            content "Joined "



