// Example Stylus file

@import 'helpers'
@import 'demo'
@import url(http://fonts.googleapis.com/css?family=Lusitana)
@import url(http://fonts.googleapis.com/css?family=Inika:400,700)

// Main
// SugarCRM colors:
// Red: B61324
// Grey: 4E5153
// DarkBlue: 133595
// LightBlue: 88B7E8

body, html
  height 100%

body
  height 1080px
  width 1920px
  overflow hidden
  background-image url('/images/metal-tile.png')
  color #BBB

#container
  line-height 900%
  font normal 3em 'Lusitana', serif
  //vertical-gradient #eee, #fff
  //vertical-gradient #000, #111

p
  margin-bottom 1em

a
  color #000a68

h1
  font-size 1.5em
  font-weight normal
  margin 1.5em
  color #333

.panel
    width 98%
    display none
    margin-left auto
    margin-right auto

.widget
    border 2px #133595 solid
    padding 5px
    round 10px
    margin-bottom 10px
    &.half
        width 49%
    &.full
        width 100%
        clear both

    &.wide
        width 65%
        float left

    &.narrow
        width 33%
        float right
    .widget_title
        text-align center
        font-family 'Inika', serif
        font-weight 700

.panel_title
    margin-top 10px
    margin-bottom 10px
    text-align center
    font-family 'Inika', serif
    font-weight 700
    padding 10px
    round 10px
    border 3px #133595 solid
    text-shadow 1px 1px 2px black

.widgets_new_hires
    columns: 4
    max-height: 500px

footer
    clear both
    text-align center

.new_hire
    width 24%
    text-align center
    margin-bottom 10px
    .new_hire_photo
        text-align center
        img
            border 1px #88B7E8 solid
    .new_hire_name
        font-size 80%
        text-align center
    .new_hire_dept
        font-size 60%
    .new_hire_date
        font-size 60%
        &:before
            content "Joined "


.feed_story
    font-size 75%
    margin-bottom 30px
    .feed_story_title
        display inline
    .feed_story_time
        display inline
        font-size 75%
        &:before
            content "(published "
        &:after
            content ")"
    .feed_story_snippet
        font-size 75%
