!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Welcome to SugaDash
  body
    #container.container
        p Loading.
    #ticker.container-fluid
        .row-fluid
            p Test Ticker

