!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Welcome to SugaDash
  body
    #container.container
        p Loading.
    #ticker.container-fluid
        .row-fluid
            .span8
                p Test Ticker
            .span3.offset1
                img(id='sugarLogo', src='/images/sugar-light.png')

